{% load static %}
<html lang="en">
<head>
            <title>С-ПЛАСТ</title>
            <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
            <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.7.1/css/bootstrap-datepicker.min.css" rel="stylesheet"/>
            <link href="https://fonts.googleapis.com/css?family=Lobster&subset=latin,cyrillic" rel="stylesheet" type="text/css">
            <link rel="stylesheet" href="{% static 'css/styles.css' %}">
            <link rel="stylesheet" href="{% static 'css/blog.css' %}">
</head>
<body>
    <div class="background-container">
        <div id="picoutput"></div>
        <div class="page-header">
            <h1><img src="{% static '/image/sinaps_.png' %}" class="image" alt="" style="height: 45px; margin-bottom: 5px"><a onclick="backMain()" class="head_title" style="margin-left: 10px">С-ПЛАСТ | <span style="height: 20px; vertical-align: top; ">статистика</span> </a></h1>
        </div>
        <div class="content-box" style=" text-align: center">
            <a style="font-size: 25px; font-family: Calibri; font-weight: normal">Производство</a>
        </div>
        <table summary="" class="table table-bordered">
            <thead id="" style="padding: 0;">
                <tr id="release_table_head">
                </tr>
                <tr id="release_table_subhead" style="">
                </tr>
            </thead>
            <tbody id="release_table_data">
            </tbody>
        </table>
        <br>
        <div class="content-box" style=" text-align: center">
            <a style="font-size: 25px; font-family: Calibri; font-weight: normal">Перемещение</a>
        </div>
        <table summary="" class="table table-bordered">
            <thead id="" style="padding: 0;">
                <tr id="transfer_table_head">
                </tr>
                <tr id="transfer_table_subhead" style="">
                </tr>
            </thead>
            <tbody id="transfer_table_data">
            </tbody>
        </table>
    </div>
    {#===============MODAL NOT LOGINED==============#}
    <form method="GET">
                    <div class="modal fade" id="modalNotLogined" tabindex="-1" role="dialog" aria-labelledby="modalNotLogined" aria-hidden="true">
                      <div class="modal-dialog modal-dialog-centered" role="document">
                        <div class="modal-content">
                            <div id="connect_del_byappl" hidden></div>
                            <div id="connect_del_byappl_ind" hidden></div>
                          <div class="modal-body">
                            Вход в систему не выполнен!
                          </div>
                          <div class="modal-footer" style="text-align: center;">
                            <button id="modalBtnLogin" type="button" class="btn btn-primary" style="" onclick="goLogin()">Авторизация</button>
                          </div>
                        </div>
                      </div>
                    </div>
                </form>
    {#==============================================#}
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.7.1/js/bootstrap-datepicker.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script type="text/javascript" src="/static/js/jquery.treegrid.js"></script>
    <script type="text/javascript">
    $(document).ready(function() {

        $('.tree').treegrid();
        $('.treegrid-1').exp
    });
    </script>
    <script>
        let islogined = window.sessionStorage.getItem('islocallogined')
        if ((islogined == null)) {
            $('#modalNotLogined').modal({backdrop: 'static', keyboard: false, style: ''})
            $('#modalNotLogined').modal('show')
        }

        else {
            window.addEventListener("beforeunload", () => sessionStorage.removeItem('islocallogined'));
            sessionStorage.setItem('state', 'true')
        }
        window.localStorage.setItem('islogined', 'true');
        var release_table_height = 0
        var release_table_width = 0
        var release_color_array = []
        var transfer_table_height = 0
        var transfer_table_width = 0
        var transfer_color_array = []
        $(document).ready(function() {
             $.ajax({
                type: "GET",
                url: "/statistic/",
                dataType: "json",
                data: {
                name: 'stat_get_release_data',
                },
                success: function(resp) {
                    let release_head_arr = resp[0]
                    let release_subhead_arr = resp[1]
                    let release_data_arr = resp[2]
                    let release_color_arr = resp[3]
                    let transfer_head_arr = resp[4]
                    let transfer_subhead_arr = resp[5]
                    let transfer_data_arr = resp[6]
                    let transfer_color_arr = resp[7]
                    release_color_array = resp[3]
                    release_table_width = release_color_arr.length
                    release_table_height = release_data_arr.length
                    transfer_color_array = resp[7]
                    transfer_table_width = transfer_color_arr.length
                    transfer_table_height = transfer_data_arr.length
                    i = 0
                    for (;;) {
                        if (i == release_head_arr.length) {
                            break
                        }
                        else {
                            console.log(release_head_arr[i].length)
                            $("#release_table_head").append("" +
                                "<th id=\"par\" class=\"span\" colspan=\""+release_head_arr[i].length+"\" scope=\"colgroup\" style=\"min-width: 2px; font-size: 12px; padding: 0px; text-align: center; font-weight: normal; background-color: #8cbcd0\">\n" +
                                ""+release_head_arr[i][0]+"" +
                                "</th>\n")
                            j = 0
                            for (;;){
                                if (j == release_subhead_arr[i].length) {break}
                                else {
                                    if (i == 0) {
                                        $("#release_table_subhead").append("<th id=\"12\" scope=\"col\" style=\"min-width: 2px; font-size: 12px; padding-left: 70px; padding-right: 70px; text-align: center; font-weight: normal; background-color: #8cbcd0 \">\n" +
                                        ""+release_subhead_arr[i][j]+"" +
                                        "</th>")
                                    }
                                    else {
                                        if (i > 0 && i < 3){
                                            $("#release_table_subhead").append("<th id=\"12\" scope=\"col\" style=\"min-width: 2px; font-size: 12px; padding-left: 10px; padding-right: 10px; text-align: center; font-weight: normal; background-color: #8cbcd0 \">\n" +
                                        ""+release_subhead_arr[i][j]+"" +
                                        "</th>")
                                        }
                                        else {
                                            if (i == release_head_arr.length-1) {
                                                $("#release_table_subhead").append("<th id=\"12\" scope=\"col\" style=\"min-width: 2px; font-size: 12px; padding-left: 10px; padding-right: 10px; text-align: center; font-weight: normal; background-color: #8cbcd0 \">\n" +
                                                ""+release_subhead_arr[i][j]+"" +
                                                "</th>")
                                            }
                                            else {
                                                $("#release_table_subhead").append("<th id=\"12\" scope=\"col\" style=\"min-width: 2px; font-size: 12px; padding: 0.1rem; text-align: center; font-weight: normal; background-color: #8cbcd0 \">\n" +
                                                ""+release_subhead_arr[i][j]+"" +
                                                "</th>")
                                            }
                                        }
                                    }

                                    j++
                                }
                            }
                            i++
                        }
                    }
                    i = 0
                    for (;;) {
                        if (i == release_data_arr.length) {
                            break
                        } else {
                            $("#release_table_data").append("" +
                                "<tr id=\"release_data_row_"+i+"\">\n" +
                                "</tr>")
                            j = 0
                            for (; ;) {
                                if (j == release_data_arr[i].length) {
                                    break
                                } else {
                                    {#console.log("release_data_row_" + i)#}
                                    if (release_data_arr[i][j] == "0") {
                                        data_color = "#aeaeae"
                                        data_text_weight = "normal"
                                    }
                                    else {
                                        data_color = "#000000"
                                        if (j > 0) {
                                           data_text_weight = "bold"
                                        }
                                        else {
                                            data_text_weight = "normal"
                                        }
                                    }
                                    if (release_color_arr[j] == "0") {
                                        data_background = "#fff"
                                    }
                                    else {
                                        data_background = "#f1f1f1"
                                    }
                                    $("#release_data_row_" + i).append("<th id=\"r_"+i+"_"+j+"\" name=\"r_"+i+"_"+j+"\" scope=\"col\" style=\"min-width: 2px; font-size: 12px; padding: 0.4rem; padding-top:5px; padding-bottom: 5px; text-align: center; font-weight: "+data_text_weight+";color: "+data_color+"; background-color: "+data_background+";\" onclick= \"release_data_item_was_clicked("+i+","+j+")\">\n" +
                                        ""+release_data_arr[i][j]+"" +
                                        "</th>")
                                    j++
                                }
                            }
                            i++
                        }
                    }
                    i = 0
                    console.log(transfer_head_arr)
                    for (;;) {
                        if (i == transfer_head_arr.length) {
                            break
                        }
                        else {
                            $("#transfer_table_head").append("" +
                                "<th id=\"par\" class=\"span\" colspan=\""+transfer_head_arr[i].length+"\" scope=\"colgroup\" style=\"min-width: 2px; font-size: 12px; padding: 0px; text-align: center; font-weight: normal; background-color: #8cbcd0\">\n" +
                                ""+transfer_head_arr[i][0]+"" +
                                "</th>\n")
                            j = 0
                            for (;;){
                                if (j == transfer_subhead_arr[i].length) {
                                    break
                                }
                                else {

                                    if (i == 0) {
                                        $("#transfer_table_subhead").append("<th id=\"12\" scope=\"col\" style=\"min-width: 2px; font-size: 12px; padding-left: 70px; padding-right: 70px; text-align: center; font-weight: normal; background-color: #8cbcd0 \">\n" +
                                        ""+transfer_subhead_arr[i][j]+"" +
                                        "</th>")
                                    }
                                    else {
                                        $("#transfer_table_subhead").append("<th id=\"12\" scope=\"col\" style=\"min-width: 2px; font-size: 11px; padding-left: 5px; padding-right: 5px; text-align: center; font-weight: normal; background-color: #8cbcd0 \">\n" +
                                        ""+transfer_subhead_arr[i][j]+"" +
                                        "</th>")
                                    }
                                    j++
                                }
                            }
                            i++
                        }
                    }
                    i = 0
                    console.log(transfer_data_arr)
                    console.log(transfer_color_arr)
                    for (;;) {
                        if (i == transfer_data_arr.length) {
                            break
                        } else {
                            $("#transfer_table_data").append("" +
                                "<tr id=\"transfer_data_row_"+i+"\">\n" +
                                "</tr>")
                            j = 0
                            for (; ;) {
                                if (j == transfer_data_arr[i].length) {
                                    break
                                } else {
                                    if (transfer_data_arr[i][j] == "0") {
                                        data_color = "#aeaeae"
                                        data_text_weight = "normal"
                                    }
                                    else {
                                        data_color = "#000000"
                                        if (j > 0) {
                                           data_text_weight = "bold"
                                        }
                                        else {
                                            data_text_weight = "normal"
                                        }
                                    }
                                    if (transfer_color_arr[j] == "0") {
                                        data_background = "#fff"
                                    }
                                    else {
                                        data_background = "#f1f1f1"
                                    }
                                    $("#transfer_data_row_" + i).append("<th id=\"t_"+i+"_"+j+"\" name=\"r_"+i+"_"+j+"\" scope=\"col\" style=\"min-width: 2px; font-size: 12px; padding: 0.4rem; padding-top:5px; padding-bottom: 5px; text-align: center; font-weight: "+data_text_weight+";color: "+data_color+"; background-color: "+data_background+";\" onclick= \"transfer_data_item_was_clicked("+i+","+j+")\">\n" +
                                        ""+transfer_data_arr[i][j]+"" +
                                        "</th>")
                                    j++
                                }
                            }
                            i++
                        }
                    }
                    i = 0

                },
                error: function(result) {
                    var readyState = {
                    1: "Loading",
                    2: "Loaded",
                    3: "Interactive",
                    4: "Complete"
                    };
                    if(result.readyState !== 0 && result.status !== 0 && result.responseText !== undefined) {
                        alert("readyState: " + readyState[result.readyState] + "\n status: " + result.status + "\n\n responseText: " + result.responseText);
                    }
                }
            });
        });
        function release_data_item_was_clicked(i,j) {
            console.log(i)
            console.log(j)
            console.log(release_table_width)
            console.log(release_table_height)
            release_data_area_color_refresh()
            n = 0
            for (;;) {
                if (n == release_table_height) {
                    break
                }
                else {
                    document.getElementById("r_"+n+"_"+j).style.backgroundColor = "329afe";
                    document.getElementById("r_"+n+"_"+j).style.color = "ffffff";
                    n++
                }
            }
            m = 0
            for (;;) {
                if (m == release_table_width) {
                    break
                }
                else {
                    document.getElementById("r_"+i+"_"+m).style.backgroundColor = "#329afe";
                    document.getElementById("r_"+i+"_"+m).style.color = "ffffff";
                    m++
                }
            }
        };
        function release_data_area_color_refresh() {
            console.log('r color refresh')
            i = 0
            for (;;){
                if (i == release_table_height) {
                    break
                }
                else {
                    j = 0
                    for (;;) {
                        if (j == release_table_width) {
                            break
                        }
                        else {
                            if (release_color_array[j] == "0") {
                                b_color = "#fff"
                            }
                            else {
                                b_color = "#f1f1f1"
                            }
                            if (document.getElementById("r_"+i+"_"+j).textContent == 0) {
                                t_color = "#aeaeae"
                            }
                            else {
                                t_color = "#000000"
                            }
                            document.getElementById("r_"+i+"_"+j).style.backgroundColor = b_color
                            document.getElementById("r_"+i+"_"+j).style.color = t_color
                        }
                        j++
                    }
                    i++
                }
            }
        }
        function transfer_data_item_was_clicked(i,j) {
            console.log(i)
            console.log(j)
            console.log(transfer_table_width)
            console.log(transfer_table_height)
            transfer_data_area_color_refresh()
            n = 0
            for (;;) {
                if (n == transfer_table_height) {
                    break
                }
                else {
                    document.getElementById("t_"+n+"_"+j).style.backgroundColor = "329afe";
                    document.getElementById("t_"+n+"_"+j).style.color = "ffffff";
                    n++
                }
            }
            m = 0
            for (;;) {
                if (m == transfer_table_width) {
                    break
                }
                else {
                    document.getElementById("t_"+i+"_"+m).style.backgroundColor = "#329afe";
                    document.getElementById("t_"+i+"_"+m).style.color = "ffffff";
                    m++
                }
            }
        };
        function transfer_data_area_color_refresh() {
            console.log('t color refresh')
            i = 0
            for (;;){
                if (i == transfer_table_height) {
                    break
                }
                else {
                    j = 0
                    for (;;) {
                        if (j == transfer_table_width) {
                            break
                        }
                        else {
                            if (transfer_color_array[j] == "0") {
                                b_color = "#fff"
                            }
                            else {
                                b_color = "#f1f1f1"
                            }
                            if (document.getElementById("t_"+i+"_"+j).textContent == 0) {
                                t_color = "#aeaeae"
                            }
                            else {
                                t_color = "#000000"
                            }
                            document.getElementById("t_"+i+"_"+j).style.backgroundColor = b_color
                            document.getElementById("t_"+i+"_"+j).style.color = t_color
                        }
                        j++
                    }
                    i++
                }
            }
        };
        function backMain() {
            window.sessionStorage.setItem('islogined', 'true');
            window.location.href = '/'
        }
        function goLogin() {
            window.addEventListener("beforeunload", () => sessionStorage.removeItem('islogined'));
            window.addEventListener("beforeunload", () => sessionStorage.removeItem('islocallogined'));
            window.location.href = '/'
        }

    </script>
</body>
</html>