{% load static %}
<html lang="en">
<head>
            <title>С-ПЛАСТ</title>
            <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
            <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.7.1/css/bootstrap-datepicker.min.css" rel="stylesheet"/>
            <link href="https://fonts.googleapis.com/css?family=Lobster&subset=latin,cyrillic" rel="stylesheet" type="text/css">
            <link rel="stylesheet" href="{% static 'css/styles.css' %}">
            <link rel="stylesheet" href="{% static 'css/blog.css' %}">
</head>
<body>
    <div id="picoutput"></div>
    <div class="page-header">
        <h1><a href="/" class="head_title">С-ПЛАСТ | <span style="height: 20px; vertical-align: top; ">статистика</span> </a></h1>
    </div>
    <table summary="Column one has the location and size of accommodation, other columns show the type and number of properties available" class=" table table-bordered">
        <thead style="padding: 0;">
            <tr style="padding: 0; max-width: 10px;">
                {% for head_elem  in releas_head %}
                    <th id="12" scope="col" style="min-width: 2px; font-size: 12px; padding: 0px; text-align: center; font-weight: normal; ">
                        {{ head_elem }}
                    </th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>

        </tbody>
    </table>

</body>
</html>